/* <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900 */
:root {
    --root-background-color: #eeeeee;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.nav-flex {
    display: flex;
    column-gap: 1.5rem;
    flex-direction: row;
    list-style-type: none;
    margin: 0rem;
}

.text-eee {
    color: #eee;
}

.navbar .text-eee:hover {
    color: red;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.nav-flex a:hover {
    color: red;
    text-decoration: none;
}

/* got this from https: //perishablepress.com/margin-offset-anchor-targets/ */
:target::before {
    content: '';
    display: block;
    height: 100px;
}

.align-center {
    text-align: center;
}

.hero-container {
    display: flex;
    column-gap: 3%;
    margin-top: 10vh;
    margin: 4% 7%;
    height: 35vh;
    min-height: 500px;
}

.hero-background {
    background-image: url(/images/hero-background.svg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 0;
    padding-top: -15%;
    align-items: center;
}

.hero-background2 {
    background-image: url(/images/hero-background.svg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 0;
    padding-top: -15%;
    align-items: center;
}

.btn-primary {
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 2%;
    margin-top: 3%;
    color: white;
}

.btn-primary:hover {
    background-color: darkred;
}

.text-container {
    margin-top: 3%;
    z-index: 1;
    width: 50%;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion {
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
}

.bg-primary {
    background-color: #eeeeee !important;
}

.bg-gradient {
    background: linear-gradient(to left, black 0%, #eee 50%) !important;}

.bg-secondary {
    background-color: #000000 !important;
}

.header-container {
    padding: 1% 2%;
}

.sticky {
    position: sticky;
}

.video-overlay {
    position: relative;
    z-index: 2;
    height: 80vh;
    text-align: center;
    width: 100%;
}

.video-section {
    height: 90vh;
    background-color: #000000;
}

.pt-20 {
    padding-top: 20%;
}

.pt-10 {
    padding-top: 10%;
}

.pb-10 {
    padding-bottom: 10%;
}

.checkered-container {
    background-image: url(./images/checkered.svg);
    height: 70px;
}

.checkered-container2 {
    background-image: url(./images/checkered2.svg);
    height: 70px;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    width: 100%;
}

.card-container {
    display: flex;
    position: relative;
    height: auto;
    margin: 0% 10%;
    column-gap: 10%;
    justify-content: center;
}

.card-container a {
    text-decoration: none;
    color: black;
}

.text-red {
    color: red;
}

.card {
    border-radius: 5px;
    background-color: white;
    display: flex;
    width: 300px;
    height: fit-content;
    justify-content: center;
    border: 2px solid red;
}

.card:hover {
    background-color: #eee;
    cursor: pointer;
}

.card-content {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 7%;
    max-height: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card p {
    line-height: 1.25rem;
}

.border-red {
    border: 2px solid red;
    border-radius: 9px;
}


/* slider classes */
.slider-container {
    position: relative;
    max-width: 30rem;
    max-height: 16rem;
    margin-top: 2rem;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 50vh;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-arrow {
    display: flex;
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 5%;
    top: 50%;
}

.slider-arrow2 {
    display: flex;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 5%;
    top: 50%;
}

.arrow {
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(225deg);
    height: 1.5rem;
    width: 1.5rem;
    opacity: .75;
}

.arrow2 {
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    height: 1.5rem;
    width: 1.5rem;
    opacity: .75;
}

.arrow:hover,
.arrow2:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important;
}